/*imports from now*/

@import 'now-ui-kit/variables';
@import 'now-ui-kit/mixins';

// breakpoints
   
$S:     480px;   
$M:     600px;     
$L:     1000px;     

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}


.navbar-brand{
	img{
		width: 100px;
	}
}

.navbar{
	    &.bg-white:not(.navbar-transparent){
        a:not(.dropdown-item){
            color: $white-color;

            &.disabled{
                opacity: .5;
                color: $primary-color;
            }

            @include MQ(L){
            	color: $primary-color;
            }
        }

        .button-bar{
            background: $primary-color;
        }

        .nav-item.active .nav-link{
            background-color: $opacity-gray-3;
        }

        .logo-container{
            border: 1px solid $primary-color;
        }
    }
}

.wrapper{
	padding-top: 73px;
  background-color: #f1f1f1;
}

// slider
.liteAccordion .slide > h2 span{
	text-align: left;
	padding-left: 15px;
	text-transform: uppercase;
}

.liteAccordion.basic .slide > h2{
	background-color: $primary-color;
	border-top: 1px solid lighten($primary-color, 30%);
}

.liteAccordion .slide-btn{
    position: absolute;
    padding: 11px 22px;
    text-transform: capitalize;
    bottom: 20px;
    right: 30px;
    z-index: 3;
}

.hero{
	background-color: $primary-color;
}

.section h4{
  margin-top: 0;
}

.events{
      display: block;
      width: 100%;
      margin-bottom: .75rem;
      table-layout: fixed;
      border-spacing: 1.25rem 0;

  .card{
      display: inline-block;
      margin-bottom: 30px;
      max-width: 100%;
      vertical-align: top;

      .card-footer{
        position: relative;
        padding: 0.75rem
      }

      img{
        width: 100%;
      }

      @include MQ(S){
        max-width: 258px ;
      }

      &:not(:first-child) {
          margin-left: 0px;
      }
    h4{
      font-size: 16px;
      margin-top: 0;
      color: $primary-color;
    }

    .action{
      position: absolute;
      right: 11px;
      // transform: translateY(-50%);
      bottom: 11px;
    }


  }
}

    .event-date{
      position: absolute;
      padding: 0 5px;
      top: 0;
      color: $white-color;
      background:$success-color-opacity;

      &.card-date{
        
        left: 11px;
      }

      &.event-page{
        right: 0;
      }

      h4, h5{
        margin: 0;
        font-size: 1em;
        font-weight: bold;
      }

      p{
        margin: 0;
        font-size: 0.8em;
      }
      
    }

.card-img-overlay{
  display: flex;
}

.Categories {
  .card{
    min-width: 250px;
    margin-left: 0px !important;
    margin-right: 30px !important;
  }

}

.newsletter{
  .form-group{
    display: flex;
    justify-content: center;
  }
}

.footer{

  ul li a{
    text-transform: capitalize;

    &:hover{
      opacity: 0.8;
    }
  }
  h5{
    border-bottom: 1px solid $success-color-opacity;
    
    font-size: $font-size-large;
    padding-bottom: $padding-simple-vertical;
  }

  .footer-links{
    
    li{
      display: block;
      font-size: $font-size-large;
      text-transform: capitalize !important;
    }
  }
}

  .social-links{
    list-style: none;

    li{
      width: 35px;
      display: inline-block;
    }
  }

  .table thead th{
    border-bottom: 1px solid #cacaca;
  }

  .table thead {
    border-top: 1px solid #cacaca;
  }

  select.form-control{
    background-color: #fff;
    padding: 0;
    min-width: 3em;
    padding-left: .3rem;

    @include MQ(M){
      padding: .5rem .75rem;
    }
  }

.bottom-footer{
  border-top: 1px solid $success-color-opacity;
  
  .foot-logo{
    img{
      width: 80px;
    }

    span{
      vertical-align: bottom;
      line-height: 16px;
      font-size: $font-size-small;
      margin-left: $margin-base-horizontal;
    }
  }

  ul{
    li{
      font-size: $font-size-small;
    }
  }
}


// Search styles
  .sb-search{
    position: absolute;
    width: 0%;
    min-width: 30px;
    top: 6px;
    right: -8px;
    height: 40px;
    overflow: hidden;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
  }

  .sb-search-input {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: $btn-round-radius;
    border: none;
    padding: 0 0 0 15px;
    outline: none;
    background: #eaeaea;
    width: 60%;
    height: 40px;
    margin: 0;
    z-index: 10;
    font-family: inherit;
    color: #2c3e50;
  }

  input[type="search"].sb-search-input {
  -webkit-appearance: none;
  // -webkit-border-radius: 0px;
}

.sb-icon-search,
.sb-search-submit  {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

// Initially, we will want to have the icon button clickable. Then, when we open the input, we want the submit input to be clickable

.sb-search-submit {
  background: #fff; /* IE needs this for whatever reason */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
  color: transparent;
  border: none;
  outline: none;
  transition: all 0.3s;
  z-index: -1;
}

// set a high z-index for the span
.sb-icon-search {
  color: $primary-color;
  background: #fff;
  padding-top: 5px;
  z-index: 90;
  speak: none;
  font-size: 1.2em;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  

    // &:before{
    //   content: " ";
    //   width: 30px;
    //   display: block;
    //   height: 30px;
    //   background-image: url("../imgs/search.png");
    // background-repeat: no-repeat;
    //   background-position: 4px 4px;
    // }
}

.sb-search.sb-search-open,
.no-js .sb-search {
  width: 100%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
  background: #da6d0d;
  color: #fff;
  z-index: 11;

}
.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
  z-index: 90;
}

// Event details page 

.event-banner{
  height: 100px;
  overflow: hidden;

  h2{
    margin: 0;
    color: $white-color;
    font-weight: bold;
  }
}

.event-poster{
  border: 1px solid $white-color;
  overflow: hidden;

  img{
    width: 100%
  }
}

.table td, .table th{
  border: none;
  font-weight: normal;
  text-transform: capitalize;
  color: $primary-color;
}

.table tr.total-row{
  border-top: 1px solid $medium-gray;
  border-bottom: 1px solid $medium-gray;
  color: $primary-color;
  

  td, th{
  font-weight: bold;
  }
}

.event-desc{
  background-color: $light-gray;
}

.event-details{
  h4{
    color: $primary-color;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 5px;
  }

  .event-name{
    font-size: $font-size-h5;
  }

  .event-map{
    overflow: hidden;
    height: 26em;
    border: 1px solid #fff;
  }
}
.payment{

  .nav-tabs{
    padding: 0;
  }
  .tab-content{
    background-color: $white-color;
    border: 1px solid $medium-gray;
  }

  .nav-tabs > .nav-item > .nav-link{
    margin-bottom: -2px;
    img{
      width: 68px;
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
    }
  }

  .nav-tabs > .nav-item > .nav-link.active{
    border-radius: 0;
    border: 1px solid $medium-gray;
    background-color: $white-color;
    border-bottom-color: $white-color ;
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;

    img{
      filter: none;
    }
  }
}

.share-event{
  background-image: url(../img/share.jpg);
  background-size: cover;
  color: $white-color;

  h4{
    color: #fff;
  }
}

.event-filter{
  background-color: #fff;

  .filter-btn{
    display: flex;
  }
}

.date-select{
  margin: 1em 0 1px;
  position: relative;

  span{
    position: absolute;
    top: 50%;
    color: $primary-color;
    transform: translateY(-50%);
    font-size: 4em;

    &.right{
      right: -25px;
    }

    &.left{
      left: -25px;
    }

  }

  .nav-item .nav-link{
    height: auto;
    width: auto;
    margin-right: 2px;
    border-radius: .25rem;
    padding: .5em 1em;
    background-color: $white-color;
  }
  h5{
    text-transform: uppercase;
    margin: 0;
    font-size: $font-size-mini;
  }
  p{
    margin: 0;
  }
}

.selected-date{
  background-color: $white-color;
  overflow: hidden;

  .nav-tabs {
  float: left;
  width: 25%;
  border-right: 1px solid $medium-gray;
  padding: 0;
  flex-flow: column;
  
  li {
    float: none;
    width: 100%;
    border-bottom: 1px solid $medium-gray;
    margin: 0;
    
    a {
      margin-right: 0;
      border: 0;
      padding: 10px ;
      display: block;
      
      &:hover, &.active {
        background-color: $light-gray;
      }
    }
  }
}

.tab-content {
  margin-left: 45px;

  .event-poster{
    border: none;
    background-color: $primary-color;
  }
  
  .tab-pane {
    display: none;
    background-color: #fff;
    overflow-y: auto;
  }
  
  .active { display: block; }
}
}

