/*imports from now*/
/*     brand Colors              */
/*      light colors         */
.navbar-brand img {
  width: 100px; }

.navbar.bg-white:not(.navbar-transparent) a:not(.dropdown-item) {
  color: #FFFFFF; }
  .navbar.bg-white:not(.navbar-transparent) a:not(.dropdown-item).disabled {
    opacity: .5;
    color: #003f60; }
  @media only screen and (min-width: 1000px) {
    .navbar.bg-white:not(.navbar-transparent) a:not(.dropdown-item) {
      color: #003f60; } }

.navbar.bg-white:not(.navbar-transparent) .button-bar {
  background: #003f60; }

.navbar.bg-white:not(.navbar-transparent) .nav-item.active .nav-link {
  background-color: rgba(222, 222, 222, 0.3); }

.navbar.bg-white:not(.navbar-transparent) .logo-container {
  border: 1px solid #003f60; }

.wrapper {
  padding-top: 73px;
  background-color: #f1f1f1; }

.liteAccordion .slide > h2 span {
  text-align: left;
  padding-left: 15px;
  text-transform: uppercase; }

.liteAccordion.basic .slide > h2 {
  background-color: #003f60;
  border-top: 1px solid #00a3f9; }

.liteAccordion .slide-btn {
  position: absolute;
  padding: 11px 22px;
  text-transform: capitalize;
  bottom: 20px;
  right: 30px;
  z-index: 3; }

.hero {
  background-color: #003f60; }

.section h4 {
  margin-top: 0; }

.events {
  display: block;
  width: 100%;
  margin-bottom: .75rem;
  table-layout: fixed;
  border-spacing: 1.25rem 0; }
  .events .card {
    display: inline-block;
    margin-bottom: 30px;
    max-width: 100%;
    vertical-align: top; }
    .events .card .card-footer {
      position: relative;
      padding: 0.75rem; }
    .events .card img {
      width: 100%; }
    @media only screen and (min-width: 480px) {
      .events .card {
        max-width: 258px; } }
    .events .card:not(:first-child) {
      margin-left: 0px; }
    .events .card h4 {
      font-size: 16px;
      margin-top: 0;
      color: #003f60; }
    .events .card .action {
      position: absolute;
      right: 11px;
      bottom: 11px; }

.event-date {
  position: absolute;
  padding: 0 5px;
  top: 0;
  color: #FFFFFF;
  background: rgba(104, 171, 106, 0.8); }
  .event-date.card-date {
    left: 11px; }
  .event-date.event-page {
    right: 0; }
  .event-date h4, .event-date h5 {
    margin: 0;
    font-size: 1em;
    font-weight: bold; }
  .event-date p {
    margin: 0;
    font-size: 0.8em; }

.card-img-overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.Categories .card {
  min-width: 250px;
  margin-left: 0px !important;
  margin-right: 30px !important; }

.newsletter .form-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.footer ul li a {
  text-transform: capitalize; }
  .footer ul li a:hover {
    opacity: 0.8; }

.footer h5 {
  border-bottom: 1px solid rgba(104, 171, 106, 0.8);
  font-size: 1em;
  padding-bottom: 10px; }

.footer .footer-links li {
  display: block;
  font-size: 1em;
  text-transform: capitalize !important; }

.social-links {
  list-style: none; }
  .social-links li {
    width: 35px;
    display: inline-block; }

.table thead th {
  border-bottom: 1px solid #cacaca; }

.table thead {
  border-top: 1px solid #cacaca; }

select.form-control {
  background-color: #fff;
  padding: 0;
  min-width: 3em;
  padding-left: .3rem; }
  @media only screen and (min-width: 600px) {
    select.form-control {
      padding: .5rem .75rem; } }

.bottom-footer {
  border-top: 1px solid rgba(104, 171, 106, 0.8); }
  .bottom-footer .foot-logo img {
    width: 80px; }
  .bottom-footer .foot-logo span {
    vertical-align: bottom;
    line-height: 16px;
    font-size: 0.8571em;
    margin-left: 15px; }
  .bottom-footer ul li {
    font-size: 0.8571em; }

.sb-search {
  position: absolute;
  width: 0%;
  min-width: 30px;
  top: 6px;
  right: -8px;
  height: 40px;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-backface-visibility: hidden; }

.sb-search-input {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 30px;
  border: none;
  padding: 0 0 0 15px;
  outline: none;
  background: #eaeaea;
  width: 60%;
  height: 40px;
  margin: 0;
  z-index: 10;
  font-family: inherit;
  color: #2c3e50; }

input[type="search"].sb-search-input {
  -webkit-appearance: none; }

.sb-icon-search,
.sb-search-submit {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  line-height: 30px;
  text-align: center;
  cursor: pointer; }

.sb-search-submit {
  background: #fff;
  /* IE needs this for whatever reason */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 8 */
  filter: alpha(opacity=0);
  /* IE 5-7 */
  opacity: 0;
  color: transparent;
  border: none;
  outline: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1; }

.sb-icon-search {
  color: #003f60;
  background: #fff;
  padding-top: 5px;
  z-index: 90;
  speak: none;
  font-size: 1.2em;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased; }

.sb-search.sb-search-open,
.no-js .sb-search {
  width: 100%; }

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
  background: #da6d0d;
  color: #fff;
  z-index: 11; }

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
  z-index: 90; }

.event-banner {
  height: 100px;
  overflow: hidden; }
  .event-banner h2 {
    margin: 0;
    color: #FFFFFF;
    font-weight: bold; }

.event-poster {
  border: 1px solid #FFFFFF;
  overflow: hidden; }
  .event-poster img {
    width: 100%; }

.table td, .table th {
  border: none;
  font-weight: normal;
  text-transform: capitalize;
  color: #003f60; }

.table tr.total-row {
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  color: #003f60; }
  .table tr.total-row td, .table tr.total-row th {
    font-weight: bold; }

.event-desc {
  background-color: #E3E3E3; }

.event-details h4 {
  color: #003f60;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 5px; }

.event-details .event-name {
  font-size: 1.57em; }

.event-details .event-map {
  overflow: hidden;
  height: 26em;
  border: 1px solid #fff; }

.payment .nav-tabs {
  padding: 0; }

.payment .tab-content {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD; }

.payment .nav-tabs > .nav-item > .nav-link {
  margin-bottom: -2px; }
  .payment .nav-tabs > .nav-item > .nav-link img {
    width: 68px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1); }

.payment .nav-tabs > .nav-item > .nav-link.active {
  border-radius: 0;
  border: 1px solid #DDDDDD;
  background-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem; }
  .payment .nav-tabs > .nav-item > .nav-link.active img {
    -webkit-filter: none;
    filter: none; }

.share-event {
  background-image: url(../img/share.jpg);
  background-size: cover;
  color: #FFFFFF; }
  .share-event h4 {
    color: #fff; }

.event-filter {
  background-color: #fff; }
  .event-filter .filter-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.date-select {
  margin: 1em 0 1px;
  position: relative; }
  .date-select span {
    position: absolute;
    top: 50%;
    color: #003f60;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 4em; }
    .date-select span.right {
      right: -25px; }
    .date-select span.left {
      left: -25px; }
  .date-select .nav-item .nav-link {
    height: auto;
    width: auto;
    margin-right: 2px;
    border-radius: .25rem;
    padding: .5em 1em;
    background-color: #FFFFFF; }
  .date-select h5 {
    text-transform: uppercase;
    margin: 0;
    font-size: 0.7142em; }
  .date-select p {
    margin: 0; }

.selected-date {
  background-color: #FFFFFF;
  overflow: hidden; }
  .selected-date .nav-tabs {
    float: left;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column; }
    .selected-date .nav-tabs li {
      float: none;
      width: 100%;
      border-bottom: 1px solid #DDDDDD;
      margin: 0; }
      .selected-date .nav-tabs li a {
        margin-right: 0;
        border: 0;
        padding: 10px;
        display: block; }
        .selected-date .nav-tabs li a:hover, .selected-date .nav-tabs li a.active {
          background-color: #E3E3E3; }
  .selected-date .tab-content {
    margin-left: 45px; }
    .selected-date .tab-content .event-poster {
      border: none;
      background-color: #003f60; }
    .selected-date .tab-content .tab-pane {
      display: none;
      background-color: #fff;
      overflow-y: auto; }
    .selected-date .tab-content .active {
      display: block; }

/*# sourceMappingURL=main.css.map */